<mat-nav-list class="side-nav uix-null">


    <a mat-list-item routerLink="/dashboard" #menuItem routerLinkActive="active-link"
        [routerLinkActiveOptions]="{exact: true}">
        <mat-icon class="menu-item-icon">dashboard</mat-icon>
        <span class="menu-item-text">
            Home
        </span>
    </a>

    <hr />

    <a mat-list-item routerLink="/commerce/serviceorders" #menuItem routerLinkActive="active-link"
        [routerLinkActiveOptions]="{exact: true}">
        <mat-icon class="menu-item-icon">view_list</mat-icon>
        <span class="menu-item-text">
            Orders
        </span>
    </a>
    <a mat-list-item routerLink="/commerce/clients" #menuItem routerLinkActive="active-link"
        [routerLinkActiveOptions]="{exact: true}">
        <mat-icon class="menu-item-icon">view_list</mat-icon>
        <span class="menu-item-text">
            Clients
        </span>
    </a>
</mat-nav-list>