<!-- <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Auto-resizing sidenav</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
    </mat-drawer>
  
    <div class="example-sidenav-content">
    <router-outlet></router-outlet>
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div>
  
  </mat-drawer-container> -->
  <!-- <button type="button" mat-button (click)="sidenav.toggle()">
    Toggle sidenav
  </button>
  <mat-sidenav-container >
      <mat-sidenav #sidenav mode="side" [(opened)]="opened">
          <ul>
              <li>Test</li>
              <li>Test 1</li>
              <li>Test 2</li>
              <li>Test 3</li>
          </ul>
      </mat-sidenav> 
      <mat-sidenav-content>
        <main >
            <router-outlet></router-outlet>
        </main>
      </mat-sidenav-content>
  </mat-sidenav-container> -->

  <div class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
    <mat-toolbar color="primary" class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="example-app-name">Responsive App</h1>
    </mat-toolbar>
  
    <mat-sidenav-container class="example-sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <app-side-nav>
        </app-side-nav>
      </mat-sidenav>
  
      <mat-sidenav-content>
        <main>
          <router-outlet></router-outlet>
        </main>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>


