<mat-nav-list class="side-nav uix-null">

    
        <a mat-list-item #menuItem  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
            <mat-icon class="menu-item-icon">dashboard</mat-icon>
            <span class="menu-item-text">
               Home
            </span>
        </a>

    <hr />

    <!-- Time Registration -->
   
        <a mat-list-item #menuItem routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
            <mat-icon  class="menu-item-icon">add</mat-icon>
            <span class="menu-item-text">
                Add
            </span>
        </a>
</mat-nav-list>